/* KeySelect.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.key-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.key {
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    margin: 10px; /* Space between keys */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;
}

.key.available {
    background-color: #007bff;
}

.key:hover {
    background-color: #0056b3; /*Darker shade on hover */
}

.key.checked-out {
    background-color: #28a745;
}

.key.checked-out:hover {
    background-color: #218838;
}

.key.unavailable {
    background-color: #6c757d;
    cursor: not-allowed;
}

h2,
h3 {
    margin-bottom: 20px;
}
